In [205]:
#Importing useful packages
import pandas as pd
import numpy as np

In [206]:

# Data cleaning function that drops any relevant rows (i.e x variables) that have missing values present
def drop_missing_rows(df, variables):
    '''
    FUNCTION
    Returns a new data frame with observations of missing values
    in any variable dropped
    
    PARAMETERS:
    df (type df), a dataframe intending to be cleaned
    variables is a list of any x and y variable
    
    
    IMPORTANT - Data must be indexed as the user intends,
    function not intended to include any indexes
    '''
    missing_index = []
    for row in df.isnull().iterrows():
        index_value, column_values = row
        for var in variables:
            if index_value not in missing_index:
                if column_values[var] == True:
                    missing_index.append(index_value)
                else: continue
    new_df = df
    new_df = new_df.drop(missing_index)
    return new_df

# Data cleaning function that eliminates any rows that are not relevant to our research
def drop_irrelevant_columns(df, variables):
    '''
    FUNCTION
    Returns a new data frame with irrelevant columns dropped
    from the original data frame.
    
    PARAMETERS:
    df (type df), a dataframe intending to be cleaned
    variables is a list of any x and y variables
    
    
    IMPORTANT - Data must be indexed as the user intends,
    function not intended to filter missing indexes
    '''
    irrelevant = []
    for columns, rows in df.items():
        if columns not in variables:
            irrelevant.append(columns)
    new_df = df
    new_df = new_df.drop(columns=irrelevant)
    
    return new_df

In [225]:
# Our x variables that we will be using to analyze our data
x_variables = [
    "Average Math Proficiency", 
    "Student Achievement Rating", 
    "Percent of Students Chronically Absent",
    "School Income Estimate",
    "Strong Family-Community Ties %"
]

#Our Y Variable
y_variable = "Community School?"

#Our X and Y variables
all_variables = x_variables
all_variables.append(y_variable)

# Importing our dataset, the 2016 School Explorer from PASSNYC
# We are setting the index to "School Name"
schoolexp = pd.read_csv(r'C:\Users\12265\Downloads\2016 School Explorer.csv').set_index("School Name")

# Creating a new data frame and running our unclean dataframe through the cleaning functions
# to get a new cleaned data frame
schoolexp_cleaned = drop_missing_rows(schoolexp, all_variables)
schoolexp_cleaned = drop_irrelevant_columns(new_schoolexp, all_variables)


for row in schoolexp_cleaned.iterrows():
    index_value, column_values = row
    clean_number = column_values["School Income Estimate"].replace("$","")
    schoolexp_cleaned.at[index_value, "School Income Estimate"] = clean_number

for row in schoolexp_cleaned.iterrows():
    index_value, column_values = row
    clean_number = column_values["School Income Estimate"].replace(",", "")
    schoolexp_cleaned.at[index_value, "School Income Estimate"] = float(clean_number)

for row in schoolexp_cleaned.iterrows():
    index_value, column_values = row
    clean_number = column_values["Strong Family-Community Ties %"].replace("%", "")
    schoolexp_cleaned.at[index_value, "Strong Family-Community Ties %"] = float(clean_number)

for row in schoolexp_cleaned.iterrows():
    index_value, column_values = row
    clean_number = column_values["Percent of Students Chronically Absent"].replace("%", "")
    schoolexp_cleaned.at[index_value, "Percent of Students Chronically Absent"] = float(clean_number)

    
for row in schoolexp_cleaned.iterrows():
    index_value, column_values = row
    Met_Target = column_values["Student Achievement Rating"].replace("Exceeding Target", "Meeting Target")
    schoolexp_cleaned.at[index_value, "Student Achievement Rating"] = Met_Target

for row in schoolexp_cleaned.iterrows():
    index_value, column_values = row
    Not_Met_Target = column_values["Student Achievement Rating"].replace("Approaching Target", "Not Meeting Target")
    schoolexp_cleaned.at[index_value, "Student Achievement Rating"] = Not_Met_Target

,Community School?,School Income Estimate,Percent of Students Chronically Absent,Strong Family-Community Ties %,Student Achievement Rating,Average Math Proficiency
School Name,,,,,,
P.S. 015 ROBERTO CLEMENTE,Yes,31141.72,18.0,85.0,Not Meeting Target,2.17
P.S. 019 ASHER LEVY,No,56462.88,30.0,86.0,Meeting Target,2.98
P.S. 020 ANNA SILVER,No,44342.61,20.0,80.0,Not Meeting Target,2.54
P.S. 034 FRANKLIN D. ROOSEVELT,No,31454.0,28.0,89.0,Meeting Target,2.47
THE STAR ACADEMY - P.S.63,No,46435.59,23.0,89.0,Meeting Target,2.54
P.S. 064 ROBERT SIMON,No,39415.45,33.0,88.0,Meeting Target,2.48
P.S. 110 FLORENCE NIGHTINGALE,No,43706.73,13.0,87.0,Meeting Target,3.20
P.S. 134 HENRIETTA SZOLD,No,28820.67,36.0,79.0,Meeting Target,2.73
P.S. 140 NATHAN STRAUS,No,34889.24,27.0,83.0,Meeting Target,2.27
P.S. 142 AMALIA CASTRO,No,35545.1,27.0,89.0,Meeting Target,2.31
P.S. 184M SHUANG WEN,No,40809.9,2.0,83.0,Meeting Target,3.63
P.S. 188 THE ISLAND SCHOOL,Yes,27881.59,37.0,92.0,Meeting Target,2.32
THE EAST VILLAGE COMMUNITY SCHOOL,No,63760.0,11.0,97.0,Meeting Target,3.20
THE CHILDREN'S WORKSHOP SCHOOL,No,62519.57,23.0,93.0,Meeting Target,2.99
NEIGHBORHOOD SCHOOL,No,57504.48,23.0,95.0,Not Meeting Target,2.68
EARTH SCHOOL,No,56787.2,15.0,96.0,Meeting Target,3.08
"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND MATH HIGH SCHOOL",No,76833.96,3.0,81.0,Meeting Target,4.03
P.S. 001 ALFRED E. SMITH,No,32817.79,18.0,87.0,Meeting Target,3.14
P.S. 002 MEYER LONDON,No,26114.78,6.0,83.0,Meeting Target,3.24
P.S. 003 CHARRETTE SCHOOL,No,103399.19,13.0,96.0,Meeting Target,3.41
P.S. 006 LILLIE D. BLAKE,No,144270.13,5.0,92.0,Meeting Target,3.71
P.S. 011 WILLIAM T. HARRIS,No,98455.77,10.0,93.0,Meeting Target,3.35
P.S. 033 CHELSEA PREP,No,88011.14,13.0,92.0,Meeting Target,3.40
P.S. 040 AUGUSTUS SAINT-GAUDENS,No,102421.46,7.0,96.0,Meeting Target,3.65
P.S. 041 GREENWICH VILLAGE,No,115909.89,2.0,95.0,Meeting Target,3.70
P.S. 051 ELIAS HOWE,No,91149.35,15.0,89.0,Meeting Target,2.83
P.S. 059 BEEKMAN HILL INTERNATIONAL,No,116235.64,6.0,94.0,Meeting Target,3.62
P.S. 77 LOWER LAB SCHOOL,No,105947.71,1.0,95.0,Meeting Target,3.91
P.S. 89,No,181382.06,6.0,93.0,Meeting Target,3.71
P.S. 111 ADOLPH S. OCHS,No,70970.41,26.0,88.0,Meeting Target,2.47

In [241]:
#Here We Will Calculate Our Summary Statistics
community_schools = schoolexp_cleaned.groupby("Community School?").get_group("Yes")

non_community_schools = schoolexp_cleaned.groupby("Community School?").get_group("No")
avg_math_cs = community_schools.mean(0, numeric_only=True)
avg_math_ncs = non_community_schools.mean( numeric_only=True)

n_community_schools = community_schools.count()
n_non_community_schools = non_community_schools.count()

n_cs_meets_target = community_schools.groupby("Student Achievement Rating").get_group("Meeting Target").count()
n_ncs_meets_target = non_community_schools.groupby("Student Achievement Rating").get_group("Meeting Target").count()
pct_cs_meets_target = n_cs_meets_target / n_community_schools 
pct_ncs_meets_target = n_ncs_meets_target / n_non_community_schools

cs_med_income = community_schools["School Income Estimate"].median()
ncs_med_income = non_community_schools["School Income Estimate"].median()

median_absenteeism_cs = community_schools["Percent of Students Chronically Absent"].median()
median_absenteeism_ncs = non_community_schools["Percent of Students Chronically Absent"].median()